version: "3.9"

services:
  ui:
    build:
      context: frontend
      dockerfile: Dockerfile
    ports:
      - "80:3000"
    env_file:
      - frontend/.env
    environment:
      - NEXT_PUBLIC_AUTH0_REDIRECT_URI=http://localhost
    depends_on:
      - listings-api
    networks:
      - monitoring-network
  listings-api:
    build:
      context: backend
      dockerfile: Dockerfile
    ports:
      - "3001:3000"
    env_file:
      - backend/.env
    environment:
      - NODE_ENV=production
      - APP_NAME=listings-api
      - APP_HOST=localhost
      - APP_PORT=3000
      - APP_LOG_LEVEL=info
      - APP_LOOP_TIMEOUT=2000
      - DB_HOST=db
      - DB_PORT=5432
      - DB_USER=default_user
      - DB_PASSWORD=password
      - DB_NAME=marketplace
    depends_on:
      - db
    networks:
      - monitoring-network
  listings-state-pm:
    build:
      context: backend
      dockerfile: Dockerfile
    env_file:
      - backend/.env
    environment:
      - DB_HOST=db
      - APP_NAME=listings-state-pm
      - NODE_ENV=production
    depends_on:
      - db
    networks:
      - monitoring-network

  purchases-state-pm:
    build:
      context: backend
      dockerfile: Dockerfile
    env_file:
      - backend/.env
    environment:
      - DB_HOST=db
      - APP_NAME=purchases-state-pm
      - NODE_ENV=production
    depends_on:
      - db
    networks:
      - monitoring-network
  db:
    image: postgres:17
    container_name: postgres_container
    restart: always
    shm_size: 128mb
    environment:
      - POSTGRES_PASSWORD=password
    ports:
      - 5432:5432
    volumes:
      - postgres-storage:/var/lib/postgresql/data
      - ./db-init.sql:/docker-entrypoint-initdb.d/init.sql

  node-exporter:
    image: prom/node-exporter:latest
    container_name: node-exporter
    ports:
      - "9100:9100"
    command:
      - "--path.rootfs=/"
    restart: unless-stopped
    networks:
      - monitoring-network

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    container_name: cadvisor
    ports:
      - "8080:8080"
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    restart: unless-stopped
    networks:
      - monitoring-network
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yaml:/etc/prometheus/prometheus.yaml
    command:
      - "--config.file=/etc/prometheus/prometheus.yaml"
      - "--storage.tsdb.path=/prometheus"
    networks:
      - monitoring-network

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    restart: unless-stopped
    ports:
      - "3002:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=password
      - GF_PATHS_PROVISIONING=/etc/grafana/provisioning
    volumes:
      - grafana-storage:/var/lib/grafana
      - ./grafana/provisioning:/etc/grafana/provisioning:ro
    networks:
      - monitoring-network

volumes:
  postgres-storage:
    driver: local
  grafana-storage:
    driver: local
networks:
  monitoring-network:
    driver: bridge
