.blure {
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.3);
}

.button-style {
  width: 10rem;
}

.set-center {
  margin: auto;
  display: block;
}

.listing-cell {
  width: 18rem;
}

.profile-modal-image {
  width: 14rem;
}

.custom-modal-dialog {
  max-width: 50vw; /* Set desired maximum width, e.g., 90% of viewport width */
  width: 70vw; /* Ensure the width is applied */
  height: auto;
}
